@page "{handler?}"
@model Web.Pages.Atendimento.CreateEdit

@{
    Layout = "_Layout";
    string action = Model.Atendimento?.Id > 0 ? "Editar" : "Criar";
    ViewData["Title"] = $"{action} Atendimento";
}

<h2>@ViewData["Title"]</h2>

<div class="container mt-5">
    <form method="post">
        <div class="form-group">
            <input hidden="hidden" asp-for="Atendimento.Id"/>
        </div>
        <div class="form-group">
            <label asp-for="Atendimento.HoraAbertura" class="form-label">Hora de Abertura:</label>
            <input asp-for="Atendimento.HoraAbertura" class="form-control" />
            <span asp-validation-for="Atendimento.HoraAbertura" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Atendimento.HoraFechamento" class="form-label">Hora de Fechamento:</label>
            <input asp-for="Atendimento.HoraFechamento" class="form-control" />
            <span asp-validation-for="Atendimento.HoraFechamento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Atendimento.MesaId" class="form-label">Mesa:</label>
            <select asp-for="Atendimento.MesaId" asp-items="Model.Mesas" class="form-control"></select>
            <span asp-validation-for="Atendimento.MesaId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Atendimento.GarcomId" class="form-label">Garçom:</label>
            <select asp-for="Atendimento.GarcomId" asp-items="Model.Garcons" class="form-control"></select>
            <span asp-validation-for="Atendimento.GarcomId" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

    <div class="mt-3">
        @foreach (var error in Model.Errors)
        {
            <p class="text-danger">@error</p>
        }
    </div>
</div>