@page "{handler?}"
@model Web.Pages.Produto.CreateEdit

@{
    Layout = "_Layout";
    string action = Model.Produto?.Id > 0 ? "Editar" : "Criar";
    ViewData["Title"] = $"{action} Produto";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <input hidden="hidden" asp-for="Produto.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.Nome" class="form-label"></label>
                <input asp-for="Produto.Nome" class="form-control" />
                <span asp-validation-for="Produto.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Descricao" class="form-label"></label>
                <input asp-for="Produto.Descricao" class="form-control" />
                <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Preco" class="form-label"></label>
                <input asp-for="Produto.Preco" class="form-control" />
                <span asp-validation-for="Produto.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.CategoriaId" class="form-label"></label>
                <select asp-for="Produto.CategoriaId" asp-items="Model.Categorias" class="form-select"></select>
                <span asp-validation-for="Produto.CategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @foreach (var error in Model.Errors)
            {
                <p class="text-danger">@error</p>
            }
        </div>
    </div>
</div>