@page "{handler?}"
@model Web.Pages.Garcom.CreateEdit

@{
    Layout = "_Layout";
    string action = Model.Garcom?.Id > 0 ? "Editar" : "Criar";
    ViewData["Title"] = $"{action} Garçom";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form method="post">
        <div class="form-group">
            <input hidden="hidden" asp-for="Garcom.Id" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Garcom.Nome" class="control-label"></label>
            <input asp-for="Garcom.Nome" class="form-control" />
            <span asp-validation-for="Garcom.Nome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Garcom.Sobrenome" class="control-label"></label>
            <input asp-for="Garcom.Sobrenome" class="form-control" />
            <span asp-validation-for="Garcom.Sobrenome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Garcom.NumeroTelefone" class="control-label"></label>
            <input asp-for="Garcom.NumeroTelefone" class="form-control" />
            <span asp-validation-for="Garcom.NumeroTelefone" class="text-danger"></span>
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>
    
    <div>
        @foreach (var error in Model.Errors)
        {
            <p class="text-danger">@error</p>
        }
    </div>
</div>